<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div  class="container-fluid">
    <div class="row">
            <div  class="col-12 col-md-4 text-center">
                <h1 class="display-3">WE ARE HERE TO DRIVE YOU</h1>
                <app-button-main></app-button-main>
            </div>
            <div  class="col-12 col-md-8">
                <img src="assets/back-img.svg" alt="carent" class="img-fluid"/>
             </div>
    </div>
        
   
</div>
